#log>div {
    border-radius: 0px;
    background: rgba(255, 255, 255, 0);
    border: 0px solid yellow;
}
.meta {
    margin-left: 0px;
    display: inline;
    line-height: 1.5em;
    margin-right: 0px;
}

#log .emoteAnim {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    z-index: 1;
}

#log {
    font: 600 14 "Open Sans";
    position: absolute;
    bottom: 0;
    width: auto;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px 15px;
    height: 92%;
    margin-top: 40px;
    max-width: 100%;
}
body {
    background: rgba(0, 0, 0, 0.05);
    text-shadow: none;
}
.name {
    font-size: 1.1em;
    text-transform: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}
.message {
    margin-left: 8px;
    word-wrap: break-word;
    line-height: 1em;
    font-weight: 300;
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
video{
    width:420px;
    max-width: 100%;
}
div#viewer:hover {
    height: 50%;
}
div#viewer {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #f2f2f2;
    top: 0;
    left: 0;
    z-index: 8;
    overflow: auto;
    box-shadow: 0 -3px 5px 3px grey;
}
ul.list-v {
    list-style: none;
    width: 70%;
    padding-left: 5em;
}
ul.list-v li:first-child {
    margin-left: -15px;
    color: #650000;
    font-weight: 600;
}
.count-v {
    position: fixed;
    padding: 15px 7px;
    font-weight: 600;
    font-size: 25px;
    animation: chColor  4s ease-in-out;
    top:0;
    z-index:10;
}
@keyframes chColor {
    from {color: red;text-shadow:0 0 2px red;}
    to {color: black;text-shadow:0 0 2px rgba(255, 0, 0, 0);}
}
img.source {
    width: 20px;
    margin: 0 15px;
    position: relative;
    top: 4px;
    z-index: 2;
}
img.level {
    width: 20px;
    position: relative;
    top: 4px;
    left: -60px;
    z-index: 1;
    margin-right: -20px;
}

#login-container{
    width: 100%;
    height:100%;
}
#login-form{
    margin: 20vw 0 0 30vw;
    width: 40vw;
}
#login-form>span{
    font-size: 2.5vw;
    display: inline-block;
}
#login-form>input{
    width: 37vw;
    font-size: 2.5vw;
}


div.applyButton {
    position: absolute;
    right: 40px;
    top: 0px;
    background: #9797ff;
    box-shadow: 0 0 13px #9797ff, 0 0 15px #9797ff, 0 0 14px #9797ff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
div.applyButton:hover {
    background: #0000ff;
    box-shadow: 0 0 13px #0000ff, 0 0 15px #0000ff, 0 0 14px #0000ff;
    color: white;
}



.container{
    position: relative;
    margin-bottom: 5px;
    padding: 5px 10px 20px;
}
.param-meta{
    color: rgb(0, 255, 0);
    line-height: 1.5em;
}
.param-message{
    margin-left: 20px;
    line-height: 1.5em;
}
div.tops {
    background: rgba(100,100,100,0.4);
    border: 1px rgba(80,80,80,0.2);
    box-shadow: 0 0 11px rgba(80,80,80,0.2), 0 0 12px rgba(120,120,120,0.4), 0 0 13px rgba(80,80,80,0.2);
    padding: 6px;
    border-radius: 4px;
    height: 22.5px;
    width: 275px;
    position: absolute;
    right: 0px;
    text-shadow: 0 0 10px rgba(150, 50, 50, 0.6), 0 0 1px rgba(200, 200, 200, 0.6);
}
div#topMonth {
    bottom: 3.5px;
    padding: 0px;
}
div#topDay {
    bottom: 30px;
    padding: 0px;
}
div#sborBabla {
    bottom: 57px;
    padding: 7px 0px 21px 0px;
}
#psvdTops{
    position: absolute;bottom: 0px;right: 0px;border: 1px solid blue;width: 275px;height: 108px;
}
#top {
    width: 100%;
    height: 2vw;
    background: #cecece;
    box-shadow: 0px -3px 3px 6px black;
    position: fixed;
    z-index: 1;
    padding-left: 1vw;
}
#top span {
    font-weight: 600;
    font-size: 1.7vw;
}

#menu {
    width: 10%;
    height: 100%;
    background: #cecece;
    float: left;
    padding-top: 3vw;
}

#param-container {
    background: #f0f0f0;
	width: 85%;
	height: initial;
	display: inline-block;
	padding-top: 3vw;
}
