html
    head
        link(type="text/css" rel="StyleSheet" href="https://s3.eu-central-1.amazonaws.com/evil-shrimps/styles/twitchMsg.css")
        style#styleGlagne
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script.randPos(src="https://s3.eu-central-1.amazonaws.com/evil-shrimps/scripts/randPos.js")
        script.onScreen(src="https://s3.eu-central-1.amazonaws.com/evil-shrimps/scripts/onScreen.js")
        script(src="script/chat.js")
        
        script(src="script/on-screen.js")
        script(src="script/random-position.js")
        script(src="script/stop-all.js")
    body
        #log
            .mesElem
                span.meta(style="color:#FF69B4;")
                    span.name Shrimps_bot
                span.message Wellcome to House of the evil shrimps chat
