html
    head
        link(rel="stylesheet" href="style/chat-bot.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="script/chat-bot.js")
    body
        #log
