html
    head
        link(rel="stylesheet" href="style/chat-bot.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    body
        #login-container
            form#login-form(method="POST" action="/")
                span Please insert your login on Twitch.tv
                input(type="text" name="login")
                input(type="submit" name="enter")
