html
	head
		meta(http-equiv="content-type" content="text/html; charset=utf8")
		title Настройки твоего шримпс бота
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&amp;subset=latin,cyrillic-ext,cyrillic,latin-ext" rel="stylesheet" type="text/css")
		link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
		link(rel="stylesheet" href="style/chat-bot.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
		script(src="script/param.js")
	body(style="background: rgb(240, 240, 240);cursor: auto;margin: 0;")
	#top
		span СТРАНИЦА С НАСТРОЙКАМИ
	#menu
	#param-container
		div(style="position:relative")
			select#varShbln
				option(value="1" ind="0" selected="") Shablon
			input(type="text" id="hrefChat" style="width:25vw;")
			.applyButton(style="display:none;" onclick="updt();") СОХРАНИТЬ
			.applyButton(style="right:300px;display:none;" onclick="activate();") Активировать этот шаблон
			div(style="background: white;width: 960px;height: 540px;margin: 1vw;border: 3px solid #ca7600;position: relative;")
				#psvdChat(style="width: 170px;height: 270px;border: 2px solid blue;absolute: relative;left: 5px;top: 10px;")
					.container(data-from="evil_shrimps")
						span.param-meta
							span.name(style="font-size: 0.7em;text-transform: uppercase;font-weight: 700") evil_shrimps_Chat
							span.colon :
						span.param-message Приветствую всех
					.container(data-from="evil_shrimps" style="position: relative;margin-bottom: 5px;padding: 5px 10px 20px;border: 1px solid black;border-image: url(http://hoes.esy.es/twitch/all1.png) 45 /30 stretch;background: url(http://hoes.esy.es/twitch/imid.png);background-size: cover;")
						span.param-meta
							span.name(style="font-size: 0.7em;text-transform: uppercase;font-weight: 700") evil_shrimps_Chat
							span.colon :
						span.param-message Это демонстрация текстовых сообщений в чатике
					span.x Слева:10px
					span.y Сверху:20px
					span.w Ширина:340px
					span.h Высота:540px
				#psvdTops
					#topMonth.tops
					#topDay.tops
					#sborBabla.tops(align="center")
						
